.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-container {
  width: 600px;
}

.todo-section {
  width: 600px;
}

.todo-items-section {
  width: 600px;
}

.toggle-all-label {
  transform: rotate(90deg);
  font-size: 22px;
  color: #e6e6e6;
  padding: 20px;
  display: inline-flex;
  cursor: pointer;
}

.todo-header-section {

}

.todo-input {
  flex: 1;
  border-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
